:root {
    --frame-size: 400px;
    --photo-size: 350px;
    --content-max: 1400px;
    --col-gap: 5rem;
    --row-gap: 5rem;
    --gold: #FFF0C4;
    --corner-size: 150px;
    --corner-pad: clamp(0.75rem, 1vw, 1.5rem);
}

.about {
    background: #120505;
    color: #fff;
    min-height: 100vh;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about-header {
    position: relative;
    width: 100%;
    max-width: var(--content-max);
    margin: 0 auto 3rem;
    padding-left: var(--corner-pad);
}

.about-header__corner {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--corner-size);
    height: var(--corner-size);
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: 1;
}

.about-header__corner--tl {
    background-image: url("../assets/images/Decoration/corner_TL.svg");
}

.about-header__title {
    position: relative;
    margin: 0;
    padding: calc(var(--corner-pad) * 3.5) 0 0 calc(var(--corner-pad) * 0.9);
    font-family: "ltc-broadway-engraved", sans-serif;
    font-size: clamp(1.6rem, 1.5vw + 1rem, 2.4rem);
    color: var(--gold);
    line-height: 1;
    z-index: 2;
    white-space: nowrap;
}

.about__team {
    width: 100%;
    max-width: var(--content-max);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
}

.team-member {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    align-items: center;
    column-gap: var(--col-gap);
}

.team-member--left {
    margin-top: 75px;
}

.team-member--right {
    grid-template-columns: minmax(0, 1fr) auto;
    margin-bottom: 75px;
}

.team-member__media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

.team-member--right .team-member__media {
    justify-content: flex-end;
    grid-column: 2;
}

.team-member__photo-wrapper {
    position: relative;
    width: var(--frame-size);
    height: var(--frame-size);
}

.team-member__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--photo-size);
    height: var(--photo-size);
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 2px;
    z-index: 1;
}

.team-member__frame {
    position: absolute;
    inset: 0;
    width: var(--frame-size);
    height: var(--frame-size);
    object-fit: contain;
    pointer-events: none;
    z-index: 2;
}

.team-member__content {
    width: 100%;
    max-width: none;
    justify-self: start;
    grid-column: 2;
    grid-row: 1;
}

.team-member--right .team-member__content {
    grid-column: 1;
}

.team-member__name {
    font-family: "Parisienne", cursive;
    font-size: 3rem;
    color: var(--gold);
    margin-bottom: 1rem;
    text-align: left;
}

.team-member__bio {
    font-family: "Montserrat", sans-serif;
    font-size: 1.05rem;
    line-height: 1.7;
    letter-spacing: 0.01em;
    text-align: left;
}

.team-member--right .team-member__bio {
    text-align: left;
}


@media (max-width: 1100px) and (min-width: 901px) {
    .about-header {
        padding-left: var(--corner-pad);
        display: block;
    }

    .about-header__title {
        font-size: 2.4rem;
        padding: calc(var(--corner-pad) * 3.5) 0 0 calc(var(--corner-pad) * 0.9);
        white-space: nowrap;
    }

    .about-header__corner {
        display: block;
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 900px) {

    :root {
        --frame-size: min(80vw, 340px);
        --photo-size: calc(var(--frame-size) * 0.8);
    }

    .about {
        padding: 3.25rem 1.25rem 3.5rem;
    }


    .about-header {
        width: 100%;
        margin: 0 auto 1.5rem;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }

    .about-header__corner {
        display: none;
    }

    .about-header::before,
    .about-header::after {
        content: "";
        position: absolute;
        top: 0;
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .about-header::before {
        left: 0;
        background-image: url("../assets/images/Decoration/corner_TL.svg");
    }

    .about-header::after {
        right: 0;
        background-image: url("../assets/images/Decoration/corner_TR.svg");
    }

    .about-header__title {
        padding: 1.25rem 0 0;
        text-align: center;
        white-space: normal;
        font-size: 2.3rem;
        width: 100%;
    }


    .about__team {
        row-gap: 3.5rem;
        width: 100%;
    }

    .team-member {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        text-align: center;
    }

    .team-member__media,
    .team-member__content,
    .team-member--right .team-member__media,
    .team-member--right .team-member__content {
        grid-column: 1;
        grid-row: auto;
        justify-self: center;
    }

    .team-member__content {
        max-width: 700px;
        margin: 0 auto;
        justify-self: center;
    }

    .team-member__name,
    .team-member__bio {
        text-align: center !important;
        line-height: 1.5;
    }
}