.film-hero {
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    position: relative;
}

.overlay-hero-filmDetails {
    position: absolute;
    inset: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.over-overlay {
    position: relative;
    z-index: 2;
}

.poster img {
    aspect-ratio: 2/3;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;

}

.resultDetailsRight {
    font-size: 14px;
}

.play-button {
    position: absolute;
    bottom: 55px;
    left: 70%;
    transform: translateX(-50%);
    padding: 6px 30px;
    background-color: #FFF0C4;
    color: #8C1007;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    z-index: 10;

    clip-path: polygon(10% 0%,
            /* coin haut gauche coupé */
            100% 0%,
            100% 100%,
            10% 100%,
            /* coin bas gauche coupé */
            0% 50%
            /* pointe gauche */
        );
}

.actor-card {
    width: 200px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFF0C4;
}

.actor-card img {
    margin-top: 15px;
}

.name-actor {
    margin-top: 30px;
}

.actor-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(140, 16, 7, 0.5);
    background: linear-gradient(#0a0a0a 40%, #0a0a0a 80%, #8C1007 80%);
    border-color: #f5d7b7;
}

.actor-card:hover img {
    outline: 7px solid #8C1007;
    outline-offset: 3px;
}

.actor-known-for {
    color: #f5d7b7;
    width: 100%;
    padding-top: 35px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden;
}

.actor-card:hover .actor-known-for {
    opacity: 1;
    max-height: 60px;
}