body {
    background-color: #120505;
}

.home-container {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}

.img-hero {
    max-width: 870px;
    width: 100%;
    margin: auto;
    display: block;
    border: 1px solid #FFF0C4;
}