/* ========== CONTAINER PRINCIPAL ========== */

.home-wrapper {
  background: #150804;
  min-height: 100vh;
}

.home-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/* ========== HERO SECTION ========== */

.section-hero {
  background-image: url(../assets/images/Decoration/Background.svg);
  padding: 30px 0;
  position: relative;
  border-bottom: 2px solid #CEAE76;
}

.hero-inner {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.img-hero {
  width: 100%;
  display: block;
  border: 4px solid #FFF0C4;
}

.play-button {
  position: absolute;
  bottom: 25px;
  left: 90%;
  transform: translateX(-50%);
  padding: 6px 30px;
  background-color: #FFF0C4;
  color: #8C1007;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 20px;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
  position: absolute;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.play-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;

  background: linear-gradient(120deg,
      transparent,
      rgba(255, 240, 196, 0.55),
      transparent);

  transform: skewX(-20deg);
  transition: left 0.75s cubic-bezier(0.22, 1, 0.36, 1);
  pointer-events: none;
}


.play-button:hover {
  background-color: #8C1007;
  color: #FFF0C4;
}

.play-button:hover::after {
  left: 130%;
}

/* ========== RESPONSIVE ========== */

@media (max-width: 768px) {
  .play-button {
    left: 50%;
    bottom: 15px;
    font-size: 16px;
    padding: 4px 20px;
  }
}

@media (max-width: 480px) {
  .play-button {
    font-size: 14px;
    padding: 4px 16px;
    gap: 10px;
  }
}