.home-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.img-hero {
  max-width: 870px;
  width: 100%;
  margin: auto;
  display: block;
  border: 1px solid #FFF0C4;
}

.section-hero {
  background-image: url(../assets/images/Decoration/Background.svg);
  padding: 30px 0;
  position: relative;
  display: block;
}

.play-button {
  position: absolute;
  bottom: 55px;
  left: 70%;
  transform: translateX(-50%);
  padding: 6px 30px;
  background-color: #FFF0C4;
  color: #8C1007;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 20px;

  clip-path: polygon(
    10% 0%,  /* coin haut gauche coupé */
    100% 0%, 
    100% 100%, 
    10% 100%, /* coin bas gauche coupé */
    0% 50%   /* pointe gauche */
  );
}