/* ========== CONTAINER PRINCIPAL ========== */

.home-wrapper {
  background: #150804;
  min-height: 100vh;
}

.home-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/* ========== HERO SECTION ========== */

.section-hero {
  background-image: url(../assets/images/Decoration/Background.svg);
  padding: 30px 0;
  position: relative;
  display: block;
  border-bottom: 2px solid #CEAE76;
}

.img-hero {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: block;
  border: 4px solid #FFF0C4;
}

.play-button {
  position: absolute;
  bottom: 55px;
  left: 70%;
  transform: translateX(-50%);
  padding: 6px 30px;
  background-color: #FFF0C4;
  color: #8C1007;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 20px;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
}

.play-button:hover {
  background-color: #8C1007;
  color: #FFF0C4;
}

/* ========== RESPONSIVE ========== */

@media (max-width: 768px) {
  .play-button {
    left: 50%;
    bottom: 30px;
    font-size: 16px;
    padding: 4px 20px;
  }
}

@media (max-width: 480px) {
  .play-button {
    font-size: 14px;
    padding: 4px 16px;
    gap: 10px;
  }
}